/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center; 
    background-color: #282c34; 
    padding: 20px;
}

.leftside {
    flex: 1;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-top: 50px; 
    background-color: #1e90ff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

/* Заголовок */
h2 {
    font-size: 28px;
    color: #fff; /* Колір тексту заголовків */
    margin-bottom: 20px;
}

/* Текст */
p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff; /* Колір тексту */
}

/* Оформлення блоків особистих даних, інтересів та контактів */
.personal-info, .interests, .contacts {
    margin-top: 30px;
}

.personal-info p, .interests ul, .contacts p {
    color: #fff; /* Колір тексту */
    font-size: 20px;
    margin-bottom: 10px;
}

.interests ul {
    padding-left: 0;
}

.contacts p {
    margin-bottom: 5px;
}

/* Фото круглим */
.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Права сторона */
.rightside {
    flex: 1; 
    text-align: left; 
    padding: 40px;
    border-radius: 10px;
    margin-top: 50px; 
    background-color: #1e90ff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

/* Список навичок */
.skills {
    margin-top: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
    color: #fff; 
    font-size: 20px;
}

/* Кольорові блоки для кожного елемента навичок */
.skills li:nth-child(odd) {
    background-color: #4682b4; 
}

.skills li:nth-child(even) {
    background-color: #5f9ea0; 
}

.skills li {
    padding: 10px;
    border-radius: 5;
}

/* Стилі для кнопок портфоліо */
.portfolio-links {
    margin-top: 20px;
}

.portfolio-links .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio-links .btn:hover {
    background-color: #4682b4;
}
/* Стилі для кнопок портфоліо */
.portfolio-links {
    margin-top: 20px;
}

.portfolio-links .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio-links .btn:hover {
    background-color: #4682b4;
}
